.main {
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.hr {
  border: none;
  border-bottom: 1px solid #efefef;
  margin: 3em auto;
}

.snake-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  gap: 0;
  background: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.cell {
  width: 20px;
  height: 20px;
  background-color: #8bc34a;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.cell.dark-mode {
  background-color: #333;
}

.snake {
  background-color: #388e3c;
  transition: background-color 0.3s ease;
}

.snake.dark-mode {
  background-color: #00FF00;
}

.food {
  background-color: #ff1744;
  transition: background-color 0.3s ease;
  animation: food-blink 1s linear infinite;
}

.food.dark-mode {
  background-color: #FF0000;
}
